<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAirCraftWar"
        android:usesCleartextTraffic="true">

        <!-- 启动 Activity：MenuActivity -->
        <activity
            android:name=".application.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 游戏界面 Activity -->
        <activity
            android:name=".application.GameActivity"
            android:exported="false" />

        <!-- 排行榜 Activity -->
        <activity
            android:name=".application.ScoreActivity"
            android:exported="false" />

        <activity android:name=".application.HeroSelectActivity"
            android:exported="false"/>

        <!-- 联机大厅 -->
        <activity
            android:name=".network.OnlineLobbyActivity"
            android:exported="false" />

        <!-- 在线对战游戏界面 -->
        <activity
            android:name=".network.GameOnlineActivity"
            android:exported="false" />

        <!-- 联机对战结果页面 -->
        <activity
            android:name=".network.GameResultActivity"
            android:exported="false" />

    </application>

</manifest>